.audio-player {
  font-size: 1.4em;
  min-height: 1.5em;
  position: relative;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #333;
  overflow-y: visible;
}
.audio-player > iframe {
  border: 0;
  margin: 0.5em 0 0.5em 1em;
  max-height: 1.4em;
}
.audio-player > span {
  font-family: "Fira Mono", monospace;
  color: #eee;
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(25%);
      -ms-transform: translateY(25%);
          transform: translateY(25%);
  width: 1.5em;
}
.audio-player > span > img {
  width: 1em;
  height: 1em;
}
.audio-player > span.play, .audio-player > span.pause {
  cursor: pointer;
}
.audio-player > span.loading {
  -webkit-animation: opacity-pulse 0.3s alternate infinite;
          animation: opacity-pulse 0.3s alternate infinite;
}
.audio-player.playing > .pause, .audio-player.paused > .play, .audio-player.loading > .loading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.audio-player > p.label {
  display: inline;
  font-size: 1rem;
  padding-top: .5em;
  color: #eee;
}

@-webkit-keyframes opacity-pulse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity-pulse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}