body {
    font-size: 1.4em;
    line-height: 1.5;
}
p, 
ul, 
ol, 
dl, 
blockquote, 
pre, 
td, 
th, 
textarea,
caption {
    font-size: 1em; /* equiv 14px */
    line-height: 1.5;
    margin: 0 0 1.5em 0;
}
h1, 
.h1-like {
    font-size:  1.8571em; /* equiv 26px */
    line-height: 1.6154;
    margin: 0 0 .8077em 0;
}
h2, 
.h2-like {
    font-size:  1.7143em; /* equiv 24px */
    line-height: 1.75;
    margin: 0 0 .875em 0;
}
h3, 
.h3-like {
    font-size:  1.5714em; /* equiv 22px */
    line-height: 1.909;
    margin: 0 0 .9545em 0;
}
h4, 
.h4-like {
    font-size:  1.4286em; /* equiv 20px */
    line-height:  1.05;
    margin: 0 0  1.05em 0;
}
h5, 
.h5-like {
    font-size:  1.2857em; /* equiv 18px */
    line-height:  1.1667;
    margin: 0 0  1.1667em 0;
}
h6, 
.h6-like {
    font-size:  1.1429em; /* equiv 16px */
    line-height:  1.3125;
    margin: 0 0  1.3125em 0;
}
.smaller {
    font-size: .7143em; /* equiv 10px */
    line-height:  2.1;
    margin:  2.1em 0  2.1em 0;
}
.small {
    font-size: .8571em; /* equiv 12px */
    line-height:  1.75;
    margin:  1.75em 0  1.75em 0;
}
.big {
    font-size:  1.1429em; /* equiv 16px */
    line-height:  1.3125;
    margin:  1.3125em 0  1.3125em 0;
}
.bigger {
    font-size:  1.2857em; /* equiv 18px */
    line-height:  1.1667;
    margin:  1.1667em 0  1.1667em 0;
}
.biggest {
    font-size:  1.4286em; /* equiv 20px */
    line-height:  1.05;
    margin:  1.05em 0  1.05em 0;
}


/* avoid supp margin on nested elements */
li p,
li ul {
    margin-top: 0;
    margin-bottom: 0;
}
/* you shall not pass */
textarea,
table, 
td, 
th, 
code, 
pre, 
samp, 
div, 
p {
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
}
code, 
pre, 
samp {
    white-space: pre-wrap;
    font-family: consolas, 'DejaVu Sans Mono', courier, monospace;
}
code {
    line-height: 1;
}
table {
    margin-bottom: 1.5em;
}